

/* Layout */
.contact-main {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.contact-intro {
  margin-bottom: 30px;
  color: gray;
  font-size: 16px;
}

/* Container */
.contact-container {
  display: flex;
  flex-wrap: wrap; /* عشان تبقى ريسبونسيف على الموبايل */
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

/* Form */
.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: black;
}

/* Button */
.contact-btn {
  background: rgb(208, 4, 208);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.contact-btn:hover {
  background: rgb(241, 123, 241);
}

/* Info Section */
.contact-info {
  flex: 1;
  min-width: 250px;
  text-align: left;
  line-height: 1.8;
}

.contact-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
